<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomibing.authority.mapper.SysGroupExceptEntrustMapper">

    
    <!-- 根据用户和业务权限ID获取委托的组织列表 -->
    <select id="listEntrustGroupsByGroupAndUserAndPerm" resultType="com.baomibing.authority.entity.SysGroup">
        SELECT g.id, g.group_name, g.glft, g.grht, g.group_level
		FROM sys_group_except_entrust ge
		INNER JOIN sys_group g ON ge.group_except_entrust_id = g.id
		WHERE ge.user_id = #{userId, jdbcType=CHAR} and ge.perm_id = #{permId,jdbcType=CHAR} and ge.org_id = #{orgId,jdbcType=CHAR}
    </select>
    
    <!-- 根据用户ID和业务权限ID删除该用户对于该功能的委托的组织 -->
    <delete id="deleteByGroupAndUserAndPerm">
    	DELETE FROM sys_group_except_entrust  WHERE user_id = #{userId, jdbcType=CHAR}  AND perm_id = #{permId, jdbcType=CHAR} and org_id = #{orgId,jdbcType=CHAR}
    </delete>
</mapper>
