<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomibing.authority.mapper.SysMenuMapper">

    
    <!-- 根据菜单ID列表获取资源菜单列表-关联资源 -->
    <select id="listAllResourceMenusByIds" resultType="com.baomibing.authority.entity.SysMenu">
    	SELECT DISTINCT sm.id, sm.redirect, sm.be_hidden, 
         sm.menu_name, sm.priority, sm.icon, sm.parent_id, ra.req_url,sm.be_unauth
		FROM sys_menu sm
		INNER JOIN sys_resource_api ra ON sm.id = ra.resource_id AND ra.resource_type = 'MENU'
		<where>
		<if test="menuIds != null and menuIds.size() > 0">
 			AND sm.id in 
			<foreach collection="menuIds" index="index" item="item" open="(" separator="," close=")">
	            #{item}       
	        </foreach>
	    </if>
	    </where> 
        ORDER BY sm.parent_id, sm.priority ASC
    </select>
    
    <select id="listAllParentByIds" resultType="java.lang.String">
		SELECT CONCAT_WS(',',m1.id,m1.parent_id,m2.parent_id,m3.parent_id,m4.parent_id,m5.parent_id,m6.parent_id) as parent_id
		FROM sys_menu m1
		LEFT JOIN sys_menu m2 on m2.id = m1.parent_id
		LEFT JOIN sys_menu m3 on m3.id = m2.parent_id
		LEFT JOIN sys_menu m4 on m4.id = m3.parent_id
		LEFT JOIN sys_menu m5 on m5.id = m4.parent_id
		LEFT JOIN sys_menu m6 on m6.id = m5.parent_id
		WHERE  m1.id in
			<foreach collection="menuIds" index="index" item="item" open="(" separator="," close=")">
	            #{item}       
	        </foreach>
    </select>
</mapper>
