<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020-2025, zening (316279828@qq.com).
  ~ <p>
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not
  ~ use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~ <p>
  ~ https://www.apache.org/licenses/LICENSE-2.0
  ~ <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations under
  ~ the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomibing.authority.mapper.SysPositionRoleMapper">

    
    <!-- 根据职位ID获取用户角色列表 -->
    <select id="listRolesByPosition" parameterType="java.lang.String" resultType="com.baomibing.authority.entity.SysRole">
        SELECT r.id, r.role_name 
        FROM sys_role AS r 
        INNER JOIN sys_position_role pr ON r.id = pr.role_id
        WHERE pr.position_id =  #{positionId,jdbcType=CHAR}
    </select>
    
</mapper>
