<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020-2025, zening (316279828@qq.com).
  ~ <p>
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not
  ~ use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~ <p>
  ~ https://www.apache.org/licenses/LICENSE-2.0
  ~ <p>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations under
  ~ the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomibing.authority.mapper.SysTenantUserExceptEntrustMapper">

    
    <!-- 根据用户ID和业务权限ID获取用户委托的用户ID列表 -->
    <select id="listEntrustUserIdsByGroupAndUserAndPerm" resultType="java.lang.String">
        SELECT u.id
		FROM sys_tenant_user u
		INNER JOIN sys_tenant_user_except_entrust ue ON ue.user_except_entrust_id = u.id
		WHERE ue.user_id = #{userId, jdbcType=CHAR} and ue.perm_id = #{permId,jdbcType=CHAR} and ue.org_id = #{orgId,jdbcType=CHAR} and ue.tenant_id = #{tenantId,jdbcType=CHAR}
    </select>
    
    <!-- 根据用户ID和业务权限ID获取用户委托的用户名列表 -->
    <select id="listEntrustUserCodesByGroupAndUserAndPerm" resultType="java.lang.String">
        SELECT u.user_no
		FROM sys_tenant_user u
		INNER JOIN sys_tenant_user_except_entrust ue ON ue.user_except_entrust_id = u.id
		WHERE ue.user_id = #{userId, jdbcType=CHAR} and ue.perm_id = #{permId,jdbcType=CHAR} and ue.org_id = #{orgId,jdbcType=CHAR} and ue.tenant_id = #{tenantId,jdbcType=CHAR}
    </select>
    
    <!-- 根据用户ID及业务权限ID删除该用户该功能委托的用户 -->
    <delete id="deleteByGroupAndUserAndPerm">
    	DELETE FROM sys_tenant_user_except_entrust  WHERE user_id = #{userId, jdbcType=CHAR} AND perm_id = #{permId, jdbcType=CHAR} and org_id = #{orgId,jdbcType=CHAR} and tenant_id = #{tenantId,jdbcType=CHAR}
    </delete>
</mapper>
